/*
* @package      Style
* @description  This package holds style declarations of all
*               included page layouts
*/

.logo {
	width: 510px;
	height: 100px;
	background-image: (images/logo.png);
}



.row{
	background: red;
}

.col-md-6{
	background: blue;
}

.col-md-4{
	background: black;
}

hr { 
    display: block;
    margin-top: 3.7em;
    margin-bottom: 4.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset;
    border-width: `px;
} 